.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cart-quantity-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: #60c91b;
  gap: .5rem;
  width: 5rem;
  border-radius: 1rem;
}

.total-price-content {
  background-color: rgb(225, 137, 65);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}