.green-button-content {
  border: none;
  outline: none;
  background-color: rgb(79, 155, 73);
  color: white;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: .3s;
  height: 2rem;

  &:hover {
    background-color: rgb(114, 197, 108);
  }

  &:active {
    background-color: rgb(46, 107, 41);
  }
}