.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.349); 
  backdrop-filter: blur(1rem);
  padding: 1rem;
  border-radius: 1rem;
  width: 20rem;
  margin-bottom: 2rem;

  .name {
    color: rgb(68, 0, 255)
  }
}