.button-content {
  border: none;
  outline: none;
  background-color: red;
  color: white;
  border-radius: 1rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: .3s;

  &:hover {
    background-color: rgb(245, 92, 92);
  }

  &:active {
    background-color: rgb(168, 42, 42);
  }
}